
h1{
    background-color: #b9cbc1;
    padding: 20px;
    margin: -8px;
    color: #73730a;
}
hr{
   border: 1.5px solid;
}
body{
            background-color: #f3f3f3;
        }
         a{

            text-decoration: none;
        }
.pfp{
            height: 40px;
            border-radius:30px ;
            width: 40px;
        }
        .pfp, li{
            display: inline;
            margin-bottom: -8px;
        }
.search{
    margin-top: 50px;
    margin-left: 600px;
    position: relative; 
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #b9cbc1 ;
    overflow: hidden;
}
.search.active{
    width: 360px;
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: ##b9cbc1;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

}

.search .icon::before{
    content: '';
    width: 15px;
    height: 15px;
    border: 3px solid #c7c8d6;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #c7c8d6;
    transform: translate(6px,6px) rotate(315deg);
}
.search .input{
    position: relative;
    left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input{
    position: absolute;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
    margin-left: -35px;
}
.clear{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px; 
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -290px;
}
.clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}
.clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}
.autocom-box{
    margin-left: 610px;
    margin-top: 10px;
    font-size: 28px;
    background: #fff;
    margin-right: 310px;
}
.search-input .autocom-box{
    padding: 10px 8px;
    max-height: 700px;
    border-radius: 20px;
    overflow-y: auto;
    opacity: 100;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    cursor: pointer;
}
.autocom-box li:hover{
    background-color: #fcfcfc;
}

.wrap{
            margin-top: -490px;
            position: absolute;
            border: none;
            max-height: 0px;
            overflow: hidden;
            margin-left: -10px;
        }
        .wrap.open-menu{
            max-height: 500px;
        }
        .menu{
            background: rgb(255, 255, 255);
            padding: 20px;
            height: 100%;
            width: 100%;
            margin-top: -30px;
            margin-bottom: -20px;
        }
        .link{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #525252;
            margin: 12px 0;
        }
        .link p{
            width: 100%;

        }
        .link img{
            width: 40px;
            background: #e5e5e5;
            border-radius: 50%;
            padding: 8px;
            margin-right: 15px;
            height: 15px;
            width: 15px;
        }
        .link span{
            font-size: 10px;
            transition: 0.5s;
            margin-right: 50px;
        }
        .link:hover span{
            transform: translateX(10px);
        }
        .link:hover p{
            font-weight: 600;
        }
        .wrap{
            border: 1px solid lightgrey;
        }
        .x{
            position: fixed;
            width: 15%;
            height: 100%;
            margin-left: 10px;
            mix-blend-mode: multiply;
            top: 0px;
            border-right:1px solid rgb(218, 213, 213);
        }
        #img23{
            height: 20px;
            width: 20px;
            margin: 25px;
            padding: 10px;
            margin-left:45px;
        }
        #img23:hover{
            background-color: lightgray;

        }
        
        #b{

            mix-blend-mode: multiply;
            height: 155px;
            width: 175px;
            margin-bottom: -15px;
            margin-left: -5px;

        
        }
        
        .z{
            margin-top: 0px;
            margin-left: 250px;
            text-align: justify;
            margin-right: 150px;
        }
