h1{
    background-color: #b9cbc1;
    padding: 20px;
    margin: -8px;
    color: #73730a;
}
hr{
   border: 1.5px solid;
}
body{
			background-color: #f3f3f3;
		}
		 a{

            text-decoration: none;
        }
         